// COLORS
$color-primary: #fe1111;
$color-secondary: #f08937;

$color-gray-light-1: #fff0f0;
$color-gray-light-2: #f4e7e7;
$color-gray-medium: #d5c1c1;
$color-gray-dark-1: #614f4f;
$color-gray-dark-2: #968484;

$gradient: linear-gradient(to right bottom, $color-secondary, $color-primary);

$breakpoint-lg: 78.15em; // 1250px
$breakpoint-md: 60em; // 960px
$breakpoint-sm: 48.75em; // 780px
$breakpoint-xsm: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $breakpoint-md) {
    font-size: 50%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: $gradient;
  background-size: cover;
  color: $color-gray-dark-1;
}

.container {
  max-width: 120rem;
  min-height: 120rem;
  background-color: #fff;
  margin: 4vw auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-gray-dark-1, 0.2);

  display: grid;
  grid-template-rows: 12rem minmax(100rem, auto);
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "head head"
    "list recipe";

  @media only screen and (max-width: $breakpoint-lg) {
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  @media only screen and (max-width: $breakpoint-sm) {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto minmax(100rem, auto);
    position: relative;
  }
}
