.heading--2 {
  font-size: 2rem;
  font-weight: 700;
  color: $color-primary;
  text-transform: uppercase;
  margin-bottom: 1.25em;
  text-align: center;

  @media only screen and (max-width: $breakpoint-sm) {
    margin-bottom: 0.75em;
  }
}

.btn {
  border: none;
  cursor: pointer;
  padding: 0.75em 2em;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  svg {
    fill: currentColor;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.btn--small {
  &,
  &:link,
  &:visited {
    display: flex;
    align-items: center;
    gap: 0.4em;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.25em 1.5em;
    text-decoration: none;
    border-radius: 10rem;
    background: $gradient;
    color: #fff;

    svg {
      height: 1.75rem;
      width: 1.75rem;
      fill: currentColor;
    }
  }
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    height: 100%;
    width: 100%;
    fill: $color-primary;
    transition: all 0.3s;
  }

  &:focus {
    outline: none;
  }

  &:hover svg {
    transform: translateY(-1px);
  }

  &:active svg {
    transform: translateY(0);
  }
}

.btn--inline {
  color: $color-primary;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  background-color: $color-gray-light-1;
  padding: 0.6em 1em;
  border-radius: 10rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  transition: all 0.2s;

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: currentColor;
    margin: 0 0.15em;
  }

  span {
    margin: 0 0.3em;
  }

  &:hover {
    background-color: $color-gray-light-2;
  }

  &:focus {
    outline: none;
  }
}

.btn--round {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: $gradient;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.07);
  }

  &:focus {
    outline: none;
  }

  svg {
    height: 2.5rem;
    width: 2.5rem;
    fill: #fff;

    @media only screen and (max-width: $breakpoint-sm) {
      height: 2rem;
      width: 2rem;
    }
  }
}

.spinner {
  margin: 4em auto;
  text-align: center;

  svg {
    height: 6rem;
    width: 6rem;
    fill: $color-primary;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.link:link,
.link:visited {
  color: $color-gray-dark-2;
}

.message,
.error {
  max-width: 70rem;
  margin: 0 auto;
  padding: 5em 3em;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 3rem;
    width: 3rem;
    fill: $color-primary;
  }

  p {
    margin-left: 1em;
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 600;
  }
}
